.information {
  height: 670px;
  border-radius: 50px;
  padding: 5px;
  background-color: white;

  .informationBorder {
    background-color: white;
    height: 660px;
    padding: 30px;
    border-radius: 50px;
    border: 5px solid #9711cb;
    color: #9711cb;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    transition: 0.5s;

    .sectionTitle {
      text-align: center;
      margin-top: 30px !important;
    }

    .column {
      width: 50%;

      .aboutMe {
        color: white;
        background-color: #9711cb;
        width: 95%;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        margin-bottom: 90px;
        cursor: pointer;

        h2 {
          margin-top: 20px;
        }
        h3 {
          margin: 5px 0px 5px 10px;
        }
        .pInfo {
          margin: 0;
          padding-bottom: 2px;
          padding-left: 10px;
        }

        .contact {
          display: flex;
          flex-direction: row;
          text-align: start;
          padding-left: 10px;
          padding-bottom: 4px;

          img {
            width: 20px;
            margin-right: 10px;
          }
          .pContacts {
            margin: 0;
          }
        }
      }
      .mySkills {
        color: white;
        background-color: #9711cb;
        width: 95%;
        height: 160px;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 100px;
        cursor: pointer;

        .skill {
          display: flex;
          flex-direction: row;
          font-size: 15px;
          justify-content: flex-end;
          padding-right: 10px;
          padding-bottom: 7px;
          padding-top: 7px;

          img {
            width: 20px;
            margin-left: 10px;
          }
          .pSkill {
            margin: 0;
          }
        }
      }
      .other {
        color: white;
        background-color: #9711cb;
        width: 95%;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        margin-left: 5%;
        text-align: start;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;

        h3 {
          margin: 0;
        }

        p {
          margin: 0;
          padding: 4px 0px;
        }
        .courses {
          display: flex;
          flex-direction: column;
        }
        .languages {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .border {
      width: 10px;
      height: 100%;
      background-color: #9711cb;
      border-radius: 10px;
    }
  }
}
